 <%- include('../partials/header'); %>
  
  <section id="banner">
 
    <%- include('../partials/warning-banner'); %>

    <h2><img src="../assets/images/hackTheCatLogo.png"/></h2>
    <p>Vulnerable node app to assist AppSec Skills Development - better Defence through learning Offense</p>
  
    <ul class="actions special">
      <li><a href="https://github.com/alexmackey/HackTheCat/" class="button primary">Let's get going</a></li>
      <li><a href="https://github.com/alexmackey/HackTheCat/" class="button">What is this?</a></li>
    </ul>
  
  <%- welcomeMessage %>

  </section>

  
<%- include('../partials/products'); %>
<%- include('../partials/footer'); %>














